* {
  margin: 0;
  padding: 0;
  color: white;
}

#navbar {
  background-color: #0f1111;
  height: 60px;
}

a {
  margin-right: 200px;
  text-decoration: none;
}

button {
  background-color: #f08804;
}

#logo {
  color: #f08804;
  font-size: 25px;
}

.contentBox {
  height: 100px;
  width: 100px;
  border: solid black;
  display: inline-block;
  color: #0f1111;
}

#content {
  height: 633px;
}

footer {
  background-color: #0f1111;
  color: white;
  text-align: center;
}
